.leaderboard {
    width: 100%;
}

.leaderboard ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.leaderboard li {
    display: flex;
    flex: auto;
    list-style: none;
    height: 30px;
    margin: 0px 10px 0px 10px;
    border-radius: 5%;
    border: 1px solid #ff0000;
    justify-content: center;
    align-items: center;
}

.title {
    border: 0px;
}