.leaderboard {
    width: 100%;
}

.leaderboard ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.leaderboard li {
    display: flex;
    flex: auto;
    list-style: none;
    height: 30px;
    margin: 0px 10px 0px 10px;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    color: white;
    padding: 5px 0 5px 0;
    border-radius: 5px;

    @include mobile{
        width: 300px;
        height: 10px;
        border-radius: 1px;
    }
}

.title {
    border: 0px;
    display: flex;
    flex: auto;
    list-style: none;
    height: 30px;
    margin: 0px 10px 0px 10px;
    justify-content: center;
    align-items: center;
    padding: 5px 0 5px 0;
    font-weight: bold;
}