@mixin mobile {
    @media screen and (max-width: 800px) {
        @content;
    }
}

@import 'leaderboard.scss';
@import 'grille.scss';
@import 'timer.scss';


.container {
    flex-direction: column;
    width: 900px;
    margin: 0 auto;

    @include mobile {
        width: 100%;
    }
}